
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(100deg, black, rgb(4, 4, 14));
    display: flex;
    justify-content: center;
}

.container {
    margin: 80px 0 0 100px;
    border: 2px solid black;
    height: 65vh;
    width: 30vw;
    border-radius: 10px;
    padding-top: 30px;
    animation: border 2s ease-in-out 0.5s infinite;
}

@keyframes border {
    0% {
        border-color: red;
    }
    25% {
        border-color: yellow;
    }
    50% {
        border-color: green;
    }
    75% {
        border-color: blue;
    }
    100% {
        border-color: red;
    }
    
}

.container h1 {
    font-family: cursive;
    text-align: center;
    color: #f1ebe2;
}

.form {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label {
    margin-left: 20px;
    color: rgb(199, 190, 183);
    font-size: 20px;
}

label #len {
    height: 40px;
    width: 40px;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(199, 190, 183);
    color: black;
    text-align: center;
}

.result {
    height: 40px;
    width: 150px;
    background-color: #30d1d1;
    border: 2px solid black;
    margin: 4px 0 0 180px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.container .btn {
    height: 100px;  
    margin-top: 30px;
    
}

button {
    height: 50px;
    width: 25vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(215, 192, 192);
    background-color: rgb(4, 4, 14);
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(10 2 30);
    color: rgb(20 91 206);
   
}